<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="admin.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
        <!-- <script src="./src/aquisitions.js" type="module" defer></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <title>Statistics</title>
    </head>
    <body>
        <%- include('../layout/navbar-admin.ejs') %>
        <div class="wrapper">
            <div id="upper-content">
                <h1 id="hstat">Statistics</h1>
                <!-- <input  type="submit" value="Export"> -->
                <button id="export-stat" onclick="window.print()">Export</button>
            </div>
            <div id="mid-content">
                <form action="" method="POST" id="statform">
                    <div id="brands">
                        <label for="lbrands" id="lbrands">Brand</label><br>
                        <p>select one or more option</p>
                        <select width=300 style="width: 200px" name="brands" id="selbrand" size="5" multiple>
                            <% for(const row of brands) { %>
                                <option value="<%- row.idMerk %>"><%= row.namaMerk %></option>
                            <% } %>
                        </select>
                    </div>
                    <div id="category">
                        <label for="lcat" id="lcat">Category</label><br>
                        <p>select one option</p>
                        <select width=300 style="width: 200px" name="category" id="selcat" size="5">
                            <% for(const row of category) { %>
                                <option value="<%- row.idKategori %>"><%= row.namaKategori %></option>
                            <% } %>
                        </select>
                    </div>
                    <div id="subcategory">
                        <label for="lsubcat" id="lsubcat">SubCategory</label><br>
                        <p>select one or more option</p>
                        <select width=300 style="width: 200px" name="subcategory" id="selsub" size="5" multiple>
                            <% for(const row of subcategory) { %>
                                <option value="<%- row.idSubKategori %>"><%= row.namaSubKategori %></option>
                            <% } %>
                        </select>
                    </div>
                </form>
            </div>
            <div id="lower-content">
                <label for="graph" id="lgraph">Rating Statistics</label>
                <div id="chart-stats">
                    <!-- <canvas id="mychart" style="width:100%;max-width:700px"></canvas> -->
                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    <script>
                        var xyValues = [
                          {x:50, y:7},
                          {x:60, y:8},
                          {x:70, y:8},
                          {x:80, y:9},
                          {x:90, y:9},
                          {x:100, y:9},
                          {x:110, y:10},
                          {x:120, y:11},
                          {x:130, y:14},
                          {x:140, y:14},
                          {x:150, y:15}
                        ];
                        
                        new Chart("myChart", {
                          type: "scatter",
                          data: {
                            datasets: [{
                              pointRadius: 4,
                              pointBackgroundColor: "rgb(0,0,255)",
                              data: xyValues
                            }]
                          },
                          options: {
                            legend: {display: false},
                            scales: {
                              xAxes: [{ticks: {min: 40, max:160}}],
                              yAxes: [{ticks: {min: 6, max:16}}],
                            }
                          }
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>