<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="admin.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
        <script src="script/graph.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"</script> -->
        <title>Statistics</title>
    </head>
    <body>
        <%- include('../layout/navbar-admin.ejs') %>
        <div class="wrapper">
            <div id="upper-content">
                <h1 id="hstat">Statistics</h1>
                <!-- <input  type="submit" value="Export"> -->
                <button id="export-stat" onclick="window.print()">Export</button>
            </div>
            <div id="mid-content">
                <form action="/stat" method="POST" id="statform">
                    <!-- <div id="brands">
                        <label for="lbrands" id="lbrands">Brand</label><br>
                        <p>select one or more option</p>
                        <div class="brand-container">
                            <% for(const row of brands) { %>
                                <input type="checkbox" name="brand" value="<%= row.namaMerk %>" id="<%- row.idMerk %>">
                                <label for="<%- row.idMerk %>">
                                    <%= row.namaMerk %>
                                </label><br>
                                <% } %>
                        </div>
                    </div> -->
                    <div id="category">
                        <label for="lcat" id="lcat">Category</label><br>
                        <p>select one option</p>
                        <div class="category-container">
                            <% for(const row of category) { %>
                                <input type="radio" name="category" value="<%= row.namaKategori %>" id="<%- row.idKategori %>">
                                <label for="<%- row.idKategori %>">
                                    <%= row.namaKategori %>
                                </label><br>
                                <% } %>
                        </div>
                    </div>
                    <div id="subcategory">
                        <label for="lsubcat" id="lsubcat">SubCategory</label><br>
                        <p>select one or more option</p>
                        <div class="subcategory-container">
                            <% for(const row of subcategory) { %>
                                <input type="checkbox" name="subcategory" value="<%= row.namaSubKategori %>" id="<%- row.idSubKategori %>">
                                <label for="<%- row.idSubKategori %>">
                                    <%= row.namaSubKategori %>
                                </label><br>
                                <% } %>
                        </div>
                    </div>
                    <input type="submit" value="update">
                </form>
            </div>
            <div id="lower-content">
                <label for="graph" id="lgraph">Rating Statistics</label>
                <div id="chart-stats">
                    <!-- <canvas id="mychart" style="width:100%;max-width:700px"></canvas> -->
                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                    <!-- <script>
                        // const revStat = revStat;
                        // const labels = revStat.map(row => row.namaKategori);
                        // const values = revStat.map(row => row.averageRating);

                        // new Chart('myChart', {
                        //     type: 'scatter',
                        //     data: {
                        //         labels: labels,
                        //         datasets: [{
                        //             data: values,
                        //             pointRadius: 4,
                        //             pointBackgroundColor: "rgb(0,0,255)"
                        //         }]
                        //     }
                        // })

                        
                    </script> -->
                </div>
            </div>
        </div>
    </body>
</html>