<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="filters.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <title>Search</title>
</head>
<body>
  <%= //console.log(req.session.username) %>
  <% if (req.session.username === null || req.session.username === undefined) { %>
    <%- include('./layout/navbar.ejs') %>
  <% } else { %>
    <%- include('./layout/navbar-logged-in.ejs') %>
  <% } %>
  <div id="filter-wrapper-content">
    <div id="left-content">
      <form action="/filter" method="GET" id="filters">
        <div class="sections" id="filter-brand">
          <label for="brand">Brands:</label>
          <br>
          <% for (let brand of brands) { %>
            <div class="rows">
              <input type="radio" name="brand" value="<%= brand %>">
              <label><%= brand %></label><br>
            </div>
          <% } %>
        </div>
        <div class="sections" id="filter-category">
          <label for="category">Categories:</label>
          <br>
          <% for (let category of categories) { %>
            <div class="rows">
              <input type="radio" name="category" value="<%= category %>">
              <label><%= category %></label><br>  
            </div>
          <% } %>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <%- include('./layout/product.ejs') %>
    <%- include('./layout/accountSearch.ejs') %>
  </div>
</body>
</html>

<script>
  const productDivs = document.querySelectorAll('.product');
  productDivs.forEach(productDiv => {
      productDiv.addEventListener('click', () => {
          const productId = productDiv.id.replace('product', '');

          window.location.href = `/product-details?id=${productId}`;
      });
  });
  const userDivs = document.querySelectorAll('.accountData');
  userDivs.forEach(userDiv=>{
    userDiv.addEventListener('click', ()=>{
      const userId = userDiv.id.replace('accountData','');
      window.location.href = `/account-publik?id=${userId}`;
    })
  })
</script>