<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <script type="text/javascript" src="../myaccount_client.js" defer></script>
        <title>Account Page</title>
    </head>
    <body>
        <%- include('./layout/navbar-logged-in.ejs') %>
        <img src="../img/sand-background.jpg" alt="Sand Background" id="img-sand-background">
        <div id="bg-under-img"></div>
        <div id="myaccount-content">
            <div id="myaccount-profil-content">
                <div id="myaccount-profil-outerbox">
                    <div id="myaccount-profile-image">
                        <form id="myaccount-upload-img-form" action="/my-account" enctype="multipart/form-data">
                            <input type="file" id="myaccount-image-input">
                            <div id="img-upload-button-section">
                                <button id="cancel-img-upload-button">Cancel</button>
                                <input type="submit" value="Upload" id="myaccount-submit-img" name="image">
                            </div>
                        </form>
                        <img src="<%= foto %>" alt="Profile Picture" id="img-myaccount-profil">
                    </div>
                    <div id="myaccount-username">
                        <p><%- user %></p>
                    </div>
                    <div id="myaccount-followers" class="myaccount-follow">
                        <p id="myaccount-followers-number" class="myaccount-follow-number"><%- followersnum %></p>
                        <p id="myaccount-followers-text" class="myaccount-follow-text">Followers</p>
                    </div>
                    <div id="myaccount-following" class="myaccount-follow">
                        <p id="myaccount-following-number" class="myaccount-follow-number"><%- followingnum %></p>
                        <p id="myaccount-following-text" class="myaccount-follow-text">Following</p>
                    </div>
                </div>
            </div>
            <div id="myaccount-timeline-content">
                <h1>Timeline</h1>
                <div id="myaccount-list-tas">
                    <% for(let review of reviews){ %>
                    <div class="myaccount-kotak-tas" id="myaccount-tas<%= review.idTas %>">
                        <img src="<%= review.foto %>" alt="Bag" class="img-myaccount-tas">
                        <div class="myaccount-container-review-text">
                            <div class="myaccount-kotak-tas-header">
                                <div class="myaccount-kotak-tas-header-left">                        
                                    <h2 class="myaccount-nama-tas"><%- review.namaTas %></h2>
                                </div>
                                <div class="myaccount-kotak-tas-header-right">                        
                                    <p class="myaccount-post-time"><%- review.currentDate.toDateString() %></p>
                                </div>
                            </div>
                            <div class="myaccount-kotak-tas-content">
                                <div class="myaccount-kotak-tas-content-left">                        
                                    <h3 class="myaccount-review-rating-tas"><%- review.rateValue %>/5</h3>
                                    <div class="myaccount-kategori-tas">
                                        <p><%- review.namaKategori %></p>
                                    </div>
                                </div>
                                <div class="myaccount-kotak-tas-content-right">                        
                                    <p class="myaccount-review-dekripsi-tas"><%- review.reviewDescription %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="myaccount-followers-list-box">
                <div id="myaccount-followers-list-header">
                    <h1>Followers</h1>
                </div>
                <div id="myaccount-followers-list-content">
                    <% for(let follower of followerList){ %>
                    <div id="myaccount-follower<%= follower.idFollow %>" class="myaccount-followers-person-box">
                        <img src="<%= follower.fotoProfile %>" class="myaccount-img-profil-followers">
                        <p class="myaccount-username-profil-followers"><%- follower.username %></p>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="myaccount-following-list-box">
                <div id="myaccount-following-list-header">
                    <h1>Following</h1>
                </div>
                <div id="myaccount-following-list-content">
                    <% for(let following of followingList){ %>
                    <div id="myaccount-following<%= following.idFollowing %>" class="myaccount-following-person-box">
                        <img src="<%= following.fotoProfile %>" class="myaccount-img-profil-following">
                        <p class="myaccount-username-profil-following"><%- following.username %></p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>